body{
  background-color: rgb(41, 112, 189);
  color: rgb(247, 246, 246);
  font-family: "Comic Relief", system-ui;
  display:flex;
  justify-content: center;
  align-content: center;
  height: 700px;
  margin: 0;
}


button{
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  font-family:"Comic Relief","system-ui";
}
